@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Jost:wght@200;300;400;500&display=swap");
@import url("transition.css");
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  perspective: 1px;
  font-family: "Jost", sans-serif;
}

/* (phones, 600px and down) */
@media only screen and (max-width: 480px) {
  body {
    background-image: url("images/homepage.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
  }
  .small-bp-container {
    display: flex;
    flex-direction: column;
  }
  .small-bp-container img {
    left: 124px;
    position: absolute;
    top: 289px;
  }
  .nav {
    flex-direction: row;
    left: 161px;
    top: 415px;
  }
  #logo {
    display: none;
  }
  ul {
    text-align: start;
    height: 5em;
    font-size: 1.1em;
  }
  .drop-inner1 {
    margin-left: 5px;
  }
  .drop-inner1 h1 {
    position: relative;
    font-size: 2em;
    top: 80px;
    left: 54px;
    width: 100%;
  }
  .drop-inner1 p {
    position: relative;
    font-size: 1.1em;
    top: 78px;
    left: 117px;
  }
  hr {
    top: 124px;
    margin-left: 2em;
  }
  .line {
    left: 52px;
    height: 58vh;
  }
  @keyframes lineDown {
    0% {
      top: 99px;
      opacity: 0;
    }
    100% {
      top: -234px;
      opacity: 1;
    }
  }
  @keyframes hrAnimation {
    from {
      opacity: 0;
      width: 0%;
    }
    to {
      opacity: 1;
      width: 75%;
    }
  }
  a {
    color: white;
  }
}
@media only screen and (min-width: 480px) and (max-width: 660px) {
  body {
    background-image: url("images/homepage.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
  }
  .small-bp-container {
    display: flex;
  }
  .small-bp-container img {
    left: 144px;
    position: absolute;
    top: 410px;
  }
  .nav {
    flex-direction: row;
    left: 290px;
    top: 418px;
  }
  #logo {
    display: none;
  }
  ul {
    text-align: start;
    height: 5em;
    font-size: 1.2em;
  }
  .drop-inner1 {
    margin-left: 5px;
  }
  .drop-inner1 h1 {
    position: relative;
    font-size: 2.5em;
    top: 146px;
    left: 90px;
    width: 100%;
  }
  .drop-inner1 p {
    position: relative;
    font-size: 1.4em;
    top: 144px;
    left: 220px;
  }
  hr {
    top: 196px;
    margin-left: 4em;
  }
  .line {
    left: 89px;
    height: 58vh;
  }
  @keyframes lineDown {
    0% {
      top: 99px;
      opacity: 0;
    }
    100% {
      top: -234px;
      opacity: 1;
    }
  }
  @keyframes hrAnimation {
    from {
      opacity: 0;
      width: 0%;
    }
    to {
      opacity: 1;
      width: 75%;
    }
  }
  a {
    color: white;
  }
}
/*  (tablets and large phones, 600px and up) */
@media only screen and (min-width: 660px) and (max-width: 868px) {
  body {
    background-image: url("images/homepage.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
  }
  .small-bp-container {
    display: flex;
  }
  .small-bp-container img {
    left: 242px;
    position: absolute;
    top: 546px;
  }
  .nav {
    flex-direction: row;
    left: 386px;
    top: 531px;
  }
  #logo {
    display: none;
  }
  ul {
    text-align: start;
    height: 5em;
    font-size: 2em;
  }
  .drop-inner1 {
    margin-left: 5px;
  }
  .drop-inner1 h1 {
    position: relative;
    font-size: 3.5em;
    top: 243px;
    left: 154px;
    width: 100%;
  }
  .drop-inner1 p {
    position: relative;
    font-size: 1.8em;
    top: 238px;
    left: 333px;
  }
  hr {
    top: 317px;
    margin-left: 4.5em;
  }
  .line {
    left: 129px;
    height: 58vh;
  }
  @keyframes lineDown {
    0% {
      top: 99px;
      opacity: 0;
    }
    100% {
      top: -88px;
      opacity: 1;
    }
  }
  @keyframes hrAnimation {
    from {
      opacity: 0;
      width: 0%;
    }
    to {
      opacity: 1;
      width: 75%;
    }
  }
  a {
    color: white;
  }
}
@media only screen and (min-width: 868px) and (max-width: 992px) {
  body {
    background-image: url("images/homepage.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
  }
  .small-bp-container {
    display: flex;
  }
  .small-bp-container img {
    left: 300px;
    position: absolute;
    top: 652px;
  }
  .nav {
    flex-direction: row;
    left: 441px;
    top: 634px;
  }
  #logo {
    display: none;
  }
  ul {
    text-align: start;
    height: 5em;
    font-size: 2em;
  }
  .drop-inner1 {
    margin-left: 5px;
  }
  .drop-inner1 h1 {
    position: relative;
    font-size: 3.7em;
    top: 243px;
    left: 154px;
    width: 100%;
  }
  .drop-inner1 p {
    position: relative;
    font-size: 2.2em;
    top: 238px;
    left: 333px;
  }
  hr {
    top: 317px;
    margin-left: 4.5em;
  }
  .line {
    left: 129px;
    height: 58vh;
  }
  @keyframes lineDown {
    0% {
      top: 99px;
      opacity: 0;
    }
    100% {
      top: -88px;
      opacity: 1;
    }
  }
  @keyframes hrAnimation {
    from {
      opacity: 0;
      width: 0%;
    }
    to {
      opacity: 1;
      width: 68%;
    }
  }
  a {
    color: white;
    font-size: 2rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  body {
    background-image: url("images/homepage.jpg");
    background-repeat: no-repeat;
    background-size: 80%;
    background-color: white;
  }
  .nav {
    flex-direction: column;
    right: 43px;
    top: 159px;
  }
  #smallbp {
    display: none;
  }
  .drop-inner1 {
    margin-left: 200px;
  }
  .drop-inner1 h1 {
    font-size: 4em;
    position: relative;
    top: 241px;
  }
  .drop-inner1 p {
    font-size: 2em;
    margin-left: 6em;
    position: relative;
    top: 240px;
  }
  hr {
    top: 325px;
    margin-left: 6.5em;
  }
  .line {
    left: 180px;
  }
  @keyframes lineDown {
    0% {
      height: 0vh;
      opacity: 0;
    }
    100% {
      height: 54vh;
      opacity: 1;
    }
  }
  @keyframes hrAnimation {
    from {
      width: 0%;
    }
    to {
      width: 65%;
    }
  }
  a {
    color: black;
    font-size: 2rem;
  }
}
/* (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1460px) {
  body {
    background-image: url("images/homepage.jpg");
    background-repeat: no-repeat;
    background-size: 80%;
    background-color: white;
  }
  .nav {
    flex-direction: column;
    right: 57px;
    top: 214px;
  }
  #smallbp {
    display: none;
  }
  .drop-inner1 {
    margin-left: 200px;
  }
  .drop-inner1 h1 {
    font-size: 4em;
    position: relative;
    top: 264px;
  }
  .drop-inner1 p {
    font-size: 2em;
    margin-left: 7em;
    position: relative;
    top: 279px;
  }
  hr {
    top: 370px;
    margin-left: 6.5em;
  }
  .line {
    left: 180px;
  }
  @keyframes lineDown {
    0% {
      height: 0vh;
      opacity: 0;
    }
    100% {
      height: 58vh;
      opacity: 1;
    }
  }
  @keyframes hrAnimation {
    from {
      width: 0%;
    }
    to {
      width: 65%;
    }
  }
  a {
    color: black;
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1460px) {
  body {
    background-image: url("images/homepage.jpg");
    background-repeat: no-repeat;
    background-size: 80%;
    background-color: white;
  }
  .nav {
    flex-direction: column;
    right: 103px;
    top: 308px;
  }
  #smallbp {
    display: none;
  }
  .drop-inner1 {
    margin-left: 200px;
  }
  .drop-inner1 h1 {
    font-size: 5em;
    position: relative;
    top: 306px;
  }
  .drop-inner1 p {
    font-size: 3em;
    margin-left: 6.4em;
    position: relative;
    top: 324px;
  }
  hr {
    top: 427px;
    margin-left: 5.5em;
  }
  .line {
    left: 180px;
    height: 100vh;
  }
  @keyframes lineDown {
    0% {
      height: 0vh;
      opacity: 0;
    }
    100% {
      height: 64vh;
      opacity: 1;
    }
  }
  @keyframes hrAnimation {
    from {
      width: 0%;
    }
    to {
      width: 65%;
    }
  }
  a {
    color: black;
    font-size: 2rem;
  }
}
.drop-inner1 {
  position: absolute;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  color: white;
  transition-delay: 1s;
}

hr {
  animation: hrAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  color: white;
  border: solid 1px white;
  position: relative;
}

html {
  height: 100%;
}

.nav {
  display: flex;
  justify-content: center;
  position: absolute;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.line {
  position: absolute;
  border-left: solid 2px white;
  animation: lineDown ease-in 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition-delay: 1s;
}/*# sourceMappingURL=home.css.map */